<div class="chatMenu">
    <b>{{ user.display_name }}</b>
    <div class="avatar"></div>
    <nav>
        <a href="{{ addContact.href }}" href="{{ addContact.title }}" >{{ addContact.text }}</a>
        <a href="{{ clearChat.href }}" href="{{ clearChat.title }}" >{{ clearChat.text }}</a>
        <a href="{{ deleteChat.href }}" href="{{ deleteChat.title }}" >{{ deleteChat.text }}</a>
    </nav>
</div>
