<div class="chatMenu">
    {{#if activeChat}}
        <b>{{ title }}</b>
        {{#if avatar }}
            <img class="avatar" src="{{ avatar }}" alt="{{ avatarAlt }}" />
        {{else}}
            <div class="avatar"></div>
        {{/if}}
        <nav>
            {{{ listUsers }}}
            {{{ changeAvatar }}}
        </nav>
    {{/if}}
</div>
