<label
    {{#if className }} 
        class = {{ className }}
    {{/if}}
>
    <input
        type = {{ type }}
        name = {{ name }}
        {{#if placeholder }} 
            placeholder = {{ placeholder }}
        {{/if}}
        {{#if value }} 
            value = {{ value }}
        {{/if}}
    />
    {{#if label }} 
        <span class="label">{{ label }}</span>
    {{/if}}
</label>
