<li class="user" data-user-id={{ id }}>
    <div class="avatar">
        {{#if avatar }}
            <img src="https://ya-praktikum.tech/api/v2/resources{{ avatar }}" />
        {{/if}}        
    </div>
    <b>{{ display_name }}</b>
    <p>{{ first_name }} {{ second_name }}</p>
    {{#if inActiveChat }}
        {{{ removeUser }}}
    {{else}}
        {{{ addUser }}}
    {{/if}}
</li>
