<li class="user" data-user-id={{ id }}>
    {{#if avatar }}
        <img class="avatar" src="https://ya-praktikum.tech/api/v2/resources{{ avatar }}" />
    {{/else}}  
        <div class="avatar"></div>
    {{/if}}        
    <b>{{ display_name }}</b>
    <p>{{ first_name }} {{ second_name }}</p>
    {{#if inActiveChat }}
        {{{ removeUser }}}
    {{else}}
        {{{ addUser }}}
    {{/if}}
</li>
