<main class="chat">
    
    <aside>
        {{{ feed }}}
        {{{ usersList }}}
    </aside>

    <section class="chatMessages">
        {{{ menu }}}
        {{{ chatMessages }}}
        {{{ chatSend }}}
    </section>

</main>
