{{#if attachments.img }}
    <div
        class="message img"
        data-my="{{ byYou }}" 
        {{#if unread }}
            data-unread="{{ unread }}"
        {{/if}}
    >
        <img src="{{ img }}" />
    </div>
{{/if}}

<div class="message" data-my="{{ byYou }}" data-unread="{{ unread }}">
    {{ text }}
</div>
