<div class="message" data-my="{{ byMe }}" data-unread="{{ unread }}">
    <div>{{ content }}</div>
    <span>{{ date }} {{ time }}</span>
    {{#if avatar }}
        <img class="avatar" src="{{ avatar }}" alt="{{ avatarAlt }}" />
    {{else}}
        <div class="avatar"></div>
    {{/if}}
</div>
