<main class="chat">
    
    <aside>
        {{{ search }}}
        {{{ feed }}}
    </aside>

    <section class="chatMessages">
        {{{ menu }}}
        {{{ messages }}}
        {{{ chatSend }}}
    </section>

</main>
